# Ignore everything by default
*

# Keep these
!README.md
!.gitignore
!cube/**
!PythonCubeAI/**

# macOS
.DS_Store
cube/.DS_Store

# Xcode
xcuserdata/
*.xcuserdatad
*.xcworkspace
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Python virtual environments
PythonCubeAI/.venv
PythonCubeAI/__pycache__/